extends layout
block content
    div.container
        h1 Keith's Dota 2 stats!
        h3 updated every 5 minutes
        hr
        h2 Matches I've played in the past few days:
        div#dota-histogram
        hr
        h2 Hours since I played my latest game:
        spap#hours-ago
