extends layout
block content
    div.container
        h1 Keith's Dota 2 stats!
        p 
            | Updated every 5 minutes. 
            a(href='http://www.dotabuff.com/players/94636820') My Dotabuff
        hr
        p#matches-description Matches I've played in the past month:
        div#dota-histogram
        hr
        // Disable mongo support
        //p 
        //    | I played my latest game 
        //    span#hours-ago
        //    |  hours ago. 
