doctype html
html
    head
        title=title
        link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='../css/style.css')
    body
        block content
        script(src='/js/jquery-2.1.3.js')
        script(src='/js/dataWriter.js')
