body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-size: 2.3rem;
    margin: 0;
    font-weight: 700;
}
h3 {
    font-size: 1.25rem;
    font-weight: 400;
}
p {
    font-size: 1.15rem;
}
.container {
    width: 355px;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
}
hr {
    border-width: 0;
    border-top: 1px solid #E1E1E1;
    margin-top: 30px;
}
#hours-ago {
    background-color: #DFDFDF;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
    width: 100px;
}
#dota-histogram-canvas {
    padding: 6px;
    border-radius: 2px;
}
rect:hover {
    border: 1px solid;
    stroke: #555;
    stroke-width: 2;
}
/* Smartphone CSS */
@media only screen and (max-width: 375px) {
    .container {
        margin-top: 0px;
        width: 100%;
    }
    body {
        margin: 30px;
        padding: 0;
    }
}
